<?xml version="1.0" encondig="UTF-8" ?>
<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    version="1.0.0"
    id="net.lorenscode.cenourapp">
    
    <name>Só de Cenoura</name>
    
    <description>Menu do restaurante</description>
    
    <author href="http://www.lorenscode.net" email="lorens.figo@lorenscode.net">
        Lorens Figo
    </author>
    
    
</widget>